
    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    @DateTime.Now.Year - rrossnes.org &copy; by <a class="fg-color-white" href="mailto:roald@rossnes.org"> Roald Rossnes</a>
                </span>
            </div>
        </div>
    </div>