    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="pull-menu"></span>
                <a href="/"><span class="element brand"><img class="place-left" alt="missing"src="public/images/logo32.png" style="height: 20px"/>Rossnes.org <small>A consultant's collection</small></span></a>
                <div class="divider"></div>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li data-role="dropdown"><a href="#">About</a><ul class="dropdown-menu">
                        <li><a href="Profile.cshtml">Profile</a></li>
                        <li><a href="Curriculum.cshtml">CV</a></li>
                        <li class="divider"></li>
                        <li><a href="Contact.cshtml">Contact</a></li>
                    </ul></li>
                    <li data-role="dropdown"><a href="#">Projects</a><ul class="dropdown-menu">
                        <li><a href="">Business Card</a></li>
                        <li><a href="">Stationary</a></li>
                        <li class="divider"></li>
                        <li><a href="MBygg.cshtml">Meland Byggevare</a></li>
                        <li class="divider"></li>
                        <li><a href="Phyrex.cshtml">Phyrex</a></li>
                    </ul></li>
                    <li data-role="dropdown"><a href="#">Verktøy</a><ul class="dropdown-menu">
                        <li><a href="Personnummer.cshtml">Personnummergenerator</a></li>
                        <li><a href="cards.php">Kontonummergenerator</a></li>
                    </ul></li>
                    <li><a href="">Links</a></li>
                </ul>
            </div>
        </div>
    </div>