@{
        Layout = "~/_Layout.cshtml";
}

    <div class="page secondary with-sidebar">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Bilimport<small>Ditt importverktøy</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>

        <div class="page-sidebar">
            <ul>
                <li class="sticker sticker-color-orange dropdown active" data-role="dropdown"><a><i class="icon-cart"></i>Bil</a>
                    <ul class="sub-menu light sidebar-dropdown-menu closed">
                        <li><a href="">Important</a></li>
                    </ul>
                </li>
                <li class="sticker sticker-color-orangeDark dropdown active" data-role="dropdown"><a href="#"><i class="icon-clipboard"></i>Kunde</a>
                                    <ul class="sub-menu light sidebar-dropdown-menu open">
                        <li><a href="">Important</a></li>
                    </ul>
                </li>
                <li class="sticker sticker-color-green dropdown active" data-role="dropdown"><a href="#"><i class="icon-history"></i>Forhandler</a>
                                    <ul class="sub-menu light sidebar-dropdown-menu open">
                        <li><a href="">Important</a></li>
                    </ul>
                </li>
                <li class="sticker sticker-color-pink dropdown active" data-role="dropdown"><a><i class="icon-list"></i>System</a>
                    <ul class="sub-menu light sidebar-dropdown-menu open">
                        <li><a href="">Om</a></li>
                        <li><a href="">Kontakt</a></li>
                        <li><a href="">Hjelp</a></li>
                        <li><a href="">Parameterliste</a></li>
                    </ul>
                </li>
            </ul>
        </div><div class="page-region">
            <div class="page-region-content">
                <div class="span9">
                    <h2>Before</h2>
                    <p>
                        You must create page layout for using <code>sidebar</code>
                    </p>
<pre class="prettyprint linenums">
    &lt;div class="page [secondary] with-sidebar"&gt;
        &lt;div class="page-header" /&gt;

        &lt;div class="page-sidebar" /&gt;

        &lt;div class="page-region" /&gt;
    &lt;/div&gt;
</pre>
                    <h2>Sidebar</h2>
                    <p>
                        For define sidebar you must use <code>&lt;ul /&gt;</code>
                    </p>
<pre class="prettyprint linenums">
    &lt;div class="page-sidebar"&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a&gt;Item&lt;/a&gt;&lt;/li&gt;
            ...
            &lt;li&gt;&lt;a&gt;Item&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
</pre>
                    <h2>Icons</h2>
                    <p>
                        You can use <code>icon-*</code> class to add icon on the menu item
                    </p>
<pre class="prettyprint linenums">
    &lt;div class="page-sidebar"&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a&gt;&lt;i class="icon-cube"&gt;&lt;/i&gt;Item&lt;/a&gt;&lt;/li&gt;
            ...
        &lt;/ul&gt;
    &lt;/div&gt;
</pre>
 

                </div>
            </div>
        </div>
    </div>