@{
    Layout = "~/_Layout.cshtml";
}


    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Curiculum Vitae<small>...</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>
 
        <div class="page-region">
            <div class="page-region-content">

                <p class ="body-text">
                    Personalia:<br>
                    Navn:               Roald Smebye Rossnes <br>
                    Adresse:            Brørakastet 45, 5911 Alversund<br>
                    Kontakt:            48 08 63 97 /rrossnes@gmail.com<br>
                    Fødselsdato:        4. september 1979<br>
                    Sivilstatus:        Gift, 2 barn<br>
                </p>
 
Arbeidserfaring:
2007 –            Leader i CSC Norge As.
Prosjektleder, Delprosjektleder og Testleder med ansvar for store og mellomstore prosjekter innen bransjene bank og forsikring og offentlig administrasjon.
2005 – 2007    Konsulent i Capgemini Norge As.
Testleder og delprosjektleder med ansvar for store og mellomstore prosjekter innen bransjene bank og forsikring og offentlig administrasjon.
2003 – 2005     Kundeansvarlig i Telenor Kundeservice Privat.
Kundeansvarlig med ansvar for ordreproduksjon og kundekontakt i forbindelse med bestillinger gjort gjennom 05000.
2000 – 2006     Daglig leder i Developit Da.
Deleier og daglig leder i konsulentselskap med arbeidsområder som webutvikling, salg av nettverk og pc komponenter, kvalitetssikring og rådgivning.
1999 – 2001     Salgskonsulent i Telenor Telehuset avd. Åsane.
Salgskonsulent med ansvar for salg til privatkunder gjennom butikk og noe ansvar for oppfølging av eksisterende bedriftskunder.
 
Prosjekter:
2012       Forvaltningsrelease Kjernesystem forsikring, Prosjektledelse (NKF20.1)
2012       Endring av forsikringssystemer, Pensjonsreform, Prosjektledelse (NPref3)
2011       Versjon 2 nytt Unit Link system for fondshandel, Prosjektledelse (NULM2)
2011       Endring av kjernesystemer for forsikring, Pensjonsreform, Testledelse (NPref1)
2010       Innføring av nytt Unit Link system for fondshandel, Testledelse (NULM1)
2010       Endring av arbeidsprosesser inkl. systemendringer, Testledelse (NITP1)
2009       Innføring av automatisert test i webapp – bank, Prosjektledelse (DNAUT3)
2009       Innføring av automatisert test i webapp – bank, Prosjektledelse (DNAUT2)
2009       Analyse ytelsetest – bank, Prosjektledelse (DNPER)
2008       Innføring av automatisert test i webapp – bank, Prosjektledelse (DNAUT)
2008       Endring av kjernesystemer for forsikring, Testledelse (G102)
2008       Endring av kjernesystemer for forsikring, Testledelse (G1001)
2008       Endring av kjernesystemer for forsikring, Testledelse (NK3)
2007       Endring av kjernesystemer for forsikring, Testledelse (NK2)
2007       Videreutvikling av salgsverktøy for forsikringsløsninger, Testledelse (NO4)
2007       Videreutvikling av salgsverktøy for forsikringsløsninger, Testledelse (NO3)
2006       Utskifting av kjernesystemer for forsikring, Testledelse (NAM)
2006       Salgsverktøy for forsikringsløsninger, Testledelse og QA (NO2)
2005       Salgsverktøy for forsikringsløsninger, Testledelse og QA (NO1) 
 
Utdannelse:
2002 – 2005     Universitetet i Bergen, Cand. Scient. i Informatikk.
Fordypning innen bioinformatikk med kurs i programmerings språkene Phyton og Darwin, samt datasikkerhet, statistikk. Hovedfokus på Java – applikasjonsutvikling og systemering.
1998 – 2001     Høgskolen i Bergen, Høgskoleingeniør i datateknikk.
Fordypning innen C++, Windows programmering, Java, Relasjonsdatabaser, SQL og UML. Breddekunnskap innen økonomi, bedriftsledelse, prosjektstyring, markedsføring, realfag og presentasjonsteknikk.
1995 – 1998     Lindås gymnas, Allmenne Fag.
Fordypning innen matematikk, informatikk og fysikk. 
 
Sertifiseringer:
2010               PMP Professional, Project Management Institute.
2006               ISEB Software Testing Foundation Certificate
 
Kurs:
2012              PMI Seminarsworld - Risk Management
2012              Oracle SOA suite
2011              Leadership in Projects
2011              GPMF Refresher
2011              Ny som leder
2011              Prosjektledelse i Nordea
2011              Prosjektarbeid i Nordea
2011              Salg for ikke selgere
2010              Estimating Tool Workshop
2010              Prosjektledelse i infrastrukturprosjekter
2010              Smidige Metoder v/Lars Arne Skår.
2010              Prosjektledelse i Infrastrukturprosjekter.
2010              PMP – Prep, Intensiv.
2009              Project Leader Orientation Simulation.
2006              Core and Adv. Web Application Tech. with MS Visual Studio 2005.
2006              Core and Advanced Data Access with Microsoft Visual Studio 2005.
2006              Introduction to Visual Studio 2005 and C#.
2006              ISEB SWT Foundation – Sertifiseringsforberedelser
2006              Prosjektarbeid i Capgemini Norge As.
2004              Darwin Programmering.
2003              Statistics in Phylogeny and Genome analysis
2001              Flash programmering
2001              Windows 2000
1998              Presentasjonsteknikk
 
Publikasjoner:
Phylogenetic reconstruction of ancestral character states for gene expression and mRNA splicing data, Rossnes Et.al, BMC Bioinformatics, 2005, vol. 6 p. 127.
 
Språk:
Engelsk          Flytende muntlig og skriftlig amerikansk-engelsk kunnskaper.
Tysk             Grunnleggende kunnskaper.
 
Verneplikt:
Førstegangstjeneste avtjent ved Sjøforsvarets Forsynings Kommando på Haakonsvern Orlogstasjon. Tjenesten ble avtjent som tillitsmann på lokalt, regionalt og nasjonalt plan, samt lokal datastøtte og deltakelse i utrulling av nye datasystemer. Gjennomført i perioden Juli 2001 – Juli 2002. Under førstegangstjenesten gjennomførte jeg kurs i Flash – programmering, og windows 2000 sertifisering i regi av voksenopplæringen.
 
Verv:
Styreleder og nestleder i Ikenberget Sameie 1 fra 2007 – 2010
Styreleder Ikenberget Vel fra 2012 – 2014
 
Annet:
Disponerer bil
Førerkort klasse A og B.
                </p>
                
                
            </div>
        </div>
    </div>

