@{
    Layout = "~/_Layout.cshtml";

}

    <div class="page">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Default Page<small>All this plain white ... what to do with it</small></h1>
                <!--<a href="/" class="back-button big page-back"></a>-->
            </div>
        </div>
 
        <div class="page-region">
            <div class="page-region-content">

                <p class ="body-text">
                    ...
                </p>
                
                
            </div>
        </div>
    </div>