@{
        Layout = "~/_Layout.cshtml";
}

<div class="page secondary">

    <div class="page-header">
        <div class="page-header-content">
            <h1>Linker<small>en samling med gode verktøy og tips</small></h1>
            <a href="/" class="back-button big page-back"></a>
        </div>
    </div>

    <div class="page-region">
        <div class="page-region-content">
            <ul class="accordion span10" data-role="accordion">
                <li>
                    <a href="#">Verktøy</a>
                    <div>
                        <h3>Verktøy</h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta condimentum sem sed commodo.
                        <p>
                            subcontent 1
                        </p>
                    </div>
                </li>
                <li class="active">
                    <a href="#">Design</a>
                    <div>
                        <h3>Inspirasjon</h3>
                        Curabitur porta condimentum sem sed commodo. Praesent vestibulum, libero eget lacinia pretium, metus augue dapibus odio, nec placerat mauris justo non ante.
                        <div>
                            subcontent 2
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Kode</a>
                    <div>
                        <h3>Kode</h3>
                        Maecenas adipiscing nulla sed sem molestie quis pulvinar lectus convallis. Nam tortor arcu, gravida nec tristique sit amet, pretium sagittis eros. Curabitur at nisi ut ligula ornare euismod.
                    </div>
                </li>
                <li>
                    <a href="#">Stationary</a>
                    <div>
                        <h3>Trykk og bilde</h3>
                        Ut vitae tortor eget elit dictum dictum. Ut porttitor, ante non blandit gravida, felis risus feugiat neque, eu tincidunt neque ante at urna. Maecenas nec felis nulla.
                    </div>
                </li>
            </ul>
        </div>
    </div></div>