@{
        Layout = "~/_Layout.cshtml";
}

   <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Phyrex<small>My master thesis at UiB</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>
 
        <div class="page-region">
            <div class="page-region-content">

                <p class ="body-text">
                    Phyrex is a program for reconstructing ancestral gene expression profiles and sequence data on a given phylogenetic tree. The 
                    program uses a Minimum Evolution algorithm to reconstruct the gene expression profiles and a combination of BaseML and ClustalW 
                    to reconstruct the ancestral sequences.
                    <br><br>
                    Phyrex can be downloaded from the site listed below. The latest version of the program are found under «Software» in the menu at the 
                    right side. Any download of this program follows the terms given in the section «Copyrights» and the terms that are following PAML and 
                    ClustalW. <a href="http://www.rossnes.org/phyrex">rossnes.org/phyrex</a>
                </p>
                
                
            </div>
        </div>
    </div>