@{
    Layout = "~/_Layout.cshtml";
}

   <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Profil<small>En kort oppsummering</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>
 
        <div class="page-region">
            <div class="page-region-content">

                <p class ="body-text">
                    Roald Rossnes har jobbet som prosjektleder for IT utviklingsprosjekter innen kollektiv forsikring og unit link domenene. Han har jobbet som 
                    utleid konsulent hos både DnB Nor og Nordea Liv og hatt ansvar for kundens egne prosjekter så vel som prosjekter som i større grad er regissert av CSC.
                    <br><br>
                    Roald har også bred erfaring innen testledelse. Han har jobbet som testleder i prosjekter som spenner fra utvikling av salgsverktøy til endringer av 
                    kjernesystemer. Roald sin evne til å tilegne seg ny kunnskap samt å tilpasse seg nye situasjoner har gjort at han er benyttet i en rekke prosjekter hos 
                    flere av våre kunder.
                    <br><br>
                    Roald har bransjeerfaring fra Financial Services. og har tilegnet seg kunnskap som gjør han i stand til å bidra i prosjekter innenfor privat og kollektiv 
                    forsikring, innskuddspensjon, skadeforsikring, samt nettbank og banksystemer.
                    <br><br>
                    Han har i tillegg erfaring fra kvalitetssikringsarbeid, dokumentasjon, kravspesifisering, analyse og evaluering av arbeidsprosesser og prosessflyter.
                </p>
                
                
            </div>
        </div>
    </div>