@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="description" content="A personal collection of consulting know-how">
        <meta name="author" content="Roald S. Rossnes">
        <meta name="keywords" content="consulting, planning, making, sharing, projects, ideas">

        <link href="public/css/modern.css" rel="stylesheet">
        <link href="public/css/modern-responsive.css" rel="stylesheet">
        <link href="public/css/site.css" rel="stylesheet" type="text/css">
        <link href="public/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="public/js/assets/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="public/js/assets/jquery.mousewheel.min.js"></script>

        <script type="text/javascript" src="public/js/modern/dropdown.js"></script>
        <script type="text/javascript" src="public/js/modern/accordion.js"></script>
        <script type="text/javascript" src="public/js/modern/buttonset.js"></script>
        <script type="text/javascript" src="public/js/modern/carousel.js"></script>
        <script type="text/javascript" src="public/js/modern/input-control.js"></script>
        <script type="text/javascript" src="public/js/modern/pagecontrol.js"></script>
        <script type="text/javascript" src="public/js/modern/rating.js"></script>
        <script type="text/javascript" src="public/js/modern/slider.js"></script>
        <script type="text/javascript" src="public/js/modern/tile-slider.js"></script>
        <script type="text/javascript" src="public/js/modern/tile-drag.js"></script>

        <title>rossnes.org - a consultant's collection</title>
    </head>
    
    <body class="modern-ui" onload="prettyPrint()">

    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="pull-menu"></span>
                <a href="/"><span class="element brand"><img class="place-left" alt="missing"src="public/images/logo32.png" style="height: 20px"/>Rossnes.org <small>A consultant's collection</small></span></a>
                <div class="divider"></div>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li data-role="dropdown"><a href="#">About</a><ul class="dropdown-menu">
                        <li><a href="Profile.cshtml">Profile</a></li>
                        <li><a href="global.php">CV</a></li>
                        <li class="divider"></li>
                        <li><a href="responsive.php">Contact</a></li>
                    </ul></li>
                    <li data-role="dropdown"><a href="#">Projects</a><ul class="dropdown-menu">
                        <li><a href="typography.php">Business Card</a></li>
                        <li><a href="typography.php">Stationary</a></li>
                        <li class="divider"></li>
                        <li><a href="typography.php">Testing Tools</a></li>
                        <li class="divider"></li>
                        <li><a href="icons.php">Meland Byggevare</a></li>
                        <li class="divider"></li>
                        <li><a href="icons.php">Phyrex</a></li>
                    </ul></li>
                    <li data-role="dropdown"><a href="#">Photos</a><ul class="dropdown-menu">
                        <li><a href="tiles.php">Abstract</a></li>
                        <li><a href="cards.php">Nature</a></li>
                    </ul></li>
                    <li><a href="">Links</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Personnummer<small>Testverktøy for generering av personnummer</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>
 
        <div class="page-region">
            <div class="page-region-content">

                <p class ="body-text">
                    Under finner dere et verktøy for å generere norske personnummer. Personnummer kan genereres tilfeldig eller ut fra valgte kritterier som
                    kjønn, fødselsdato eller alder.
                </p>
                
                <form>
                    <div class="input-control select">
                        <select>
                            <option value="1">Mann</option>
                            <option value="2">Kvinne</option>
                        </select>
                    </div>                    <div class="input-control select">
                        <select>
                            <option value="1">01</option>
                            <option value="2">02</option>
                        </select>
                    </div>                    <div class="input-control select">
                        <select>
                            <option value="1">Januar</option>
                            <option value="2">Februar</option>
                        </select>
                    </div>                    <div class="input-control select">
                        <select>
                            <option value="1">2012</option>
                            <option value="2">2011</option>
                        </select>
                    </div>                    <input type="submit" value="Submit"/>
                    <input type="reset"  value="Reset"/>                </form>
                
                <p class ="body-text">
                    Første gang siden lastes er tabellen under fyllt med tilfeldige personnummer. For å endre dette må man benytte skjemaet over for å generere nye. Dersom 
                    man trenger flere tilfeldige personnummer kan man enten laste siden på nytt eller trykke på "Generer Tilfeldig" i skjemaet over.
                </p>
                
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Personnummer</th>
                            <th class="right">Fornavn</th>
                            <th class="right">Etternavn</th>
                            <th class="right">Adresse</th>
                            <th class="right">Postnummer</th>
                            <th class="right">Poststed</th>
                            <th class="right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>    
                        <tr><td>010191 56321</td><td class="right">Ola</td><td class="right">Nordmann</td><td class="right">Testveien 15</td><td class="right">0001</td><td class="right">Oslo</td><td class="right"></td></tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    2012, rrossnes.org &copy; by <a class="fg-color-white" href="mailto:roald@rossnes.org"> Roald Rossnes</a>
                </span>
            </div>
        </div>
    </div>

    
        
    </body>
</html>
